.heading {
  text-align: center;
}

.about_copy {
  text-align: center;
}

.fa-facebook {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
}

.fa-instagram {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
}

.fa-github {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
}

.fa-linkedin {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
}
